.overlay {
    display: none;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#main {
    background-color: var(--text-white);
}

html::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--text-white);
}


img.logo {
    display: flex;
    margin: auto;
    width: 25%;
}

.header-middle {
    height: auto;
}

#header {
    background-color: var(--background);
}

#header ul.nav {
    display: flex;
    justify-content: center;
    border-top: 0.2rem solid var(--text-black);
}

#header ul.nav li {
    padding: 0.8rem 1.8rem;
    border: 0.2rem solid var(--border);
    border-width: 0.1rem 0.1rem 0rem;
    background-color: var(--text-gray);
}

#header ul.nav li a {
    font-size: 1.44rem;
    color: var(--text-black);
    text-transform: uppercase;
    font-weight: 700;
}

#header ul.nav li:hover {
    background-color: var(--text-black);
    border-top: 0.2rem solid var(--blue);
    margin-top: -0.2rem;
}


#header ul.nav li.list-item:hover a {
    color: var(--text-white);
}

#header ul.nav li.list-item.active {
    background-color: var(--text-black);
    border-top: 0.2rem solid var(--blue);
    margin-top: -0.2rem;
}

#header ul.nav li.list-item.active a {
    color: var(--text-white);
}

.btn-menu {
    display: none;
}




#content {
    padding: 3rem 3rem 6rem;
}


.content-header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.li-1 {
    flex: 1;
    padding: 0 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.li-2 {
    flex: 2;
    padding: 0 2rem;
    overflow: hidden;
    position: relative;
}

.li-1--1 {
    flex: 1;
}

.li-1--2 {
    flex: 1;
}


#content img.img-new-1 {
    min-height: 17rem;
    height: auto;
    width: 100%;
    object-fit: cover;
}


#content img.img-new-1.over-fit {
    max-height: 17rem;
    height: auto;
    width: 100%;
    object-fit: cover;
}




#vn-football img.img-new-1,
#team-fc img.img-new-1,
#hightlightfc img.img-new-1 {
    min-height: 17rem;
    height: auto;
    width: 22.5rem;
    object-fit: cover;
}


img.img-new-2 {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}

a.title-new {
    text-decoration: none;
    color: var(--text-black);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0;
}

#vn-football a.title-new,
#team-fc a.title-new,
#hightlightfc a.title-new {
    color: white;
}

.title-new--main {
    position: absolute;
    z-index: 5;
    bottom: 7rem;
    left: 0;
    text-align: center;
}

a.title-new.title-new-middle,
p.description-new {
    color: white;
    text-shadow: 2px 2px 8px black;
}

a.title-new.title-new-middle {
    font-size: 2rem;
}

p.description-new {
    font-size: 1.5rem;
}

a.title-new:hover,
a.title-new.title-new-middle:hover {
    color: var(--blue);
}


.btn-outline-primary {
    border-radius: unset;
    border-width: 0.3rem;
    font-weight: 700;
    background-color: white;
}



.hover-btn-new {
    background-color: #0d6efd;
    color: white;
}

.li-1--1 {
    position: relative;
}

.btn-outline-primary {
    position: absolute;
    z-index: 9;
    margin-left: -1rem;
    margin-top: 2rem;
}


.btn-outline-primary.btn-middle {
    margin-left: -1rem;
    margin-top: 2rem;
}


#content .li-1--container {
    padding: 0;
}



#vn-football .li-1--container,
#team-fc .li-1--container,
#hightlightfc .li-1--container {
    padding: 2rem;
}


.li-1--container {
    height: -webkit-fill-available;
    margin-bottom: 2rem;
}


.list-main-container {
    overflow-x: auto;
    margin: 0 3rem;
}

.list-main-container::-webkit-scrollbar {
    display: none;
}



.list-new {
    background-color: var(--bg-list-new);
    position: relative;
    margin: 6rem 0;
}

#team-fc .list-new,
#hightlightfc .list-new {
    background-color: var(--bg-list-new23);
    position: relative;
    margin: 6rem 0;
}

.list-new-container,
.list-new-container-2,
.list-new-container-3 {
    display: flex;
    margin: 2.5rem;
    transform: translateX(-34px);
}

.title-container.title-container-black {
    border-bottom: 0.1px solid var(--text-black);
}

.title-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3rem 3rem 0;
    transition: all 0.7s ease-in-out;
    border-bottom: 0.1px solid var(--text-white);
}


p.title-main.title-black {
    color: var(--text-black);
}

p.title-main {
    color: var(--text-yellow);
    text-transform: uppercase;
    font-size: 2.56rem;
    font-weight: 600;
}

a.view-more.view-more-blue {
    color: var(--blue);
}


a.view-more.view-more-blue:hover,
a.view-more.view-more-blue:hover i {
    color: var(--text-black);
}


a.view-more {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

a.view-more i {
    font-size: 1.7rem;
}







.text-new {
    padding: 1rem;
}


.text-new--hover {
    background-color: black;
    transform: translateY(-4rem);
    transition: all 0.4s ease;
}



.btn-after,
.btn-pre,
.btn-after-2,
.btn-pre-2,
.btn-after-3,
.btn-pre-3 {
    font-size: 3.6rem;
    color: white;
    position: absolute;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 76%;
    opacity: 0;
    border-radius: 1rem;
    width: 2rem;
    transition: all .5s ease;
}

.btn-after i,
.btn-pre i,
.btn-after-2 i,
.btn-pre-2 i,
.btn-after-3 i,
.btn-pre-3 i {
    line-height: 34rem;
}

.btn-after,
.btn-after-2,
.btn-after-3 {
    right: 0;
}

.btn-pre,
.btn-pre-2,
.btn-pre-3 {
    left: 0;
}


.btn-after:hover,
.btn-pre:hover,
.btn-after-2:hover,
.btn-pre-2:hover,
.btn-after-3:hover,
.btn-pre-3:hover {
    opacity: 0.7;
}



.header-top {
    height: 3.9rem;
    width: 100vw;
    background-color: black;
    position: relative;
}



#toggleBtn {
    position: absolute;
    width: 4.5rem;
    height: 2.6rem;
    border: 0.2rem solid white;
    border-radius: 20px;
    background-color: rgb(100, 97, 97);
    box-shadow: rgba(100, 100, 110, 0.2) 0px 8px 28px 0px;
    /* position: fixed; */
    top: 0.5rem;
    right: 2rem;
    z-index: 9;
}

#toggleBtn.active {
    background-color: black;
}

#toggleBtn::before {
    content: '';
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s;

}

#toggleBtn.active::before {
    left: 20px;
}


.player-container {
    height: fit-content;
}


.player-container {
    padding: 1rem;
}

.player-main-li {
    display: flex;
    /* height: 100%; */
}

.li-player-1,
.li-player-3 {
    margin: 2rem;
    overflow: hidden;
}


.li-player-1 {
    flex-shrink: 2;
    height: 100%;
}

.li-player-3 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.li-player-3.li-rank {
    flex-shrink: 3;
}



.li-3-1-player,
.li-3-2-player,
.li-3-3-player {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
}



.player-container p.description-new {
    color: var(--text-black);
    text-shadow: none;
    font-size: 1.4rem;
}

.text-player--1 {
    display: flex;
    flex-direction: column;
}

.li-1-1-player img {
    width: 100%;
}


.li-player-3 img {
    max-width: 15.3rem;
    object-fit: none;
}


.text-player--3 {
    padding: 3rem 1rem;
}


p.title-rank {
    text-transform: uppercase;
    font-size: 2.56rem;
    color: var(--text-black);
    font-weight: 600;
    text-align: center;
    position: relative;
}

/* p.title-rank::after{
    content: "";
    width: 30%;
    height: 0.3rem;
    position: absolute;
    background-color: var(--text-black);
    top: 50%;
    left: 0;
}

p.title-rank::before{
    content: "";
    width: 30%;
    height: 0.3rem;
    position: absolute;
    background-color: var(--text-black);
    right: 0;
    top: 50%;
} */


.together-img-container {
    display: flex;
    border-top: 0.3rem solid var(--text-black);
}

.rank-h1,
.rank-h2,
.rank-h3 {
    flex-shrink: 1;
}


.together-img-container .li-1-1-player {
    height: 13rem;
    display: flex;
    margin: 1rem 0;
    max-width: 34rem;
}



.together-img-container p.description-new {
    color: var(--text-black);
    text-shadow: none;
    font-size: 1.4rem;
}


.together-img-container .li-player-1 {
    height: fit-content;
}

.together-img-container p,
.together-img-container a {
    margin: 0 1rem;
}




.together-img-container .li-1-1-player img {
    max-width: 13rem;
    object-fit: cover;
    min-height: 10rem;
    width: auto;
}



.li-1--0 {
    align-self: center;
}


.together-img-container .btn-outline-primary {
    position: absolute;
    z-index: 9;
    margin-left: -1rem;
    margin-top: -1rem;
}